div > h2
/* div h2 also works*/
{
    font-style: italic;
}

h2 + p
{
    color: red
}

.list > li /*direct children*/
{
    list-style-type: none; /*list-style is also sufficient*/
    border-bottom: 1px solid grey

}

/* slide 8 */
li a:link

{
    color: green
}

li a:visited
{
    color: red
}

li a:hover
{
    color:pink
}

li:first-child::first-letter {
    font-weight: bold;
    font-size: 1.2rem

}

/* attribute selectors */
a[title = "BCIT homepage"]
/*a[href*="http://www.bcit"] also works*/
{
    background-color: yellow;
}

/*Slide 14*/

img
{
    float: left;
}
.below
{
    clear:both;
}
