div > h2
/* div h2 also works*/
{
    font-style: italic;
}

h2 + p
{
    color: red
}

.list > li /*direct children*/
{
    list-style-type: none; /*list-style is also sufficient*/
    border-bottom: 1px solid grey

}

